<div class='login-page'>
    <section class='form login'>
        <%= form_for(:session, url: login_path) do |f| %>
            <%= f.label :email, ' Username or Email ' %>
                <%= f.text_field :email %>

                    <%= f.label :password %>
                        <%= f.password_field :password %>
                            <br>
                            <%= f.submit 'Submit ' %>
                                <br>
                                <% end %>
                                    <p> Not a member?
                                        <%= link_to "Sign Up", signup_path %>
                                    </p>
    </section>
    <section class='or'>
        <h1>Or Login With:</h1>
    </section>
    <section class='meetup-login'>
        <%= link_to meetup_login_path do %>
            <%= image_tag  "meetup-logo.png" %>
                <%end%>
    </section>
    <section class='google-login'>
        <%= link_to google_login_path do %>
            <%= image_tag  "google-logo.png" %>
                <%end%>
    </section>
</div>
