<div class='event'>
    <h3>
        <%= link_to event.name, event_path(event.event_id) %>
    </h3>
    <h4>
        <%=event.trail_name %>
    </h4>
    <h4>
        <%=event.format_date %>
    </h4>
    <h4>
        <%=event.location %>
    </h4>
    <p>
        <%=event.description %>
    </p>
</div>