<div class='event-count'>Your search returned
    <%=@events.count%>
        results
        <p>
            <%=link_to "Return to Search", new_events_search_path%>
        </p>
</div>
<div class='event-search-results'>
    <% @events.each do |event|%>
        <%= link_to event_path(event.event_id) do %>
            <div class='event' , tabindex=<%=event.event_id%>>
                <h3>
                    <%=event.name %>
                </h3>
                <h4>
                    <%=event.trail_name %>
                </h4>
                <h4>
                    <%=event.format_date %>
                </h4>
                <h4>
                    <%=event.location %>
                </h4>
                <p>
                    <%=event.description %>
                </p>
            </div>
            <%end%>
                <%end%>
</div>