<div class='event-search search-box'>
    <%= form_tag('/events/search', method: :get) do %>
        <%= label_tag 'search_by', 'Search By' %>
            <%= select_tag 'search_by', options_for_select([
                                                ['Location', 'by_location'], 
                                                ['Event Name', 'by_name'], 
                                                ['Date', 'by_date'],
                                                ['Trail', 'by_trail']
                                                ]) %>
                <%= text_field_tag(:event_search, nil, :placeholder => "location...", list:'trails' )%>
                    <%= submit_tag('Search Events', :id => "submit") %>
                        <%end%>
</div>

<datalist id="trails">
</datalist>

<script type="text/javascript">
    dateSelect();
    trailSelect();
</script>