<div class='login-page'>
    <section class='form login'>
        <%= form_for @user do |f| %>


            <%= f.label :username %>
                <%= f.text_field :username %>

                    <%= f.label :email %>
                        <%= f.email_field :email %>

                            <%= f.label :password %>
                                <%= f.password_field :password %>

                                    <%= render partial: 'pictures/form_for_one', :locals => { f: f, object: @user } %>

                                        <%= f.submit 'Submit' %>
                                            <% end %>
    </section>
    <section class='or'>
        <h1>Or Login With:</h1>
    </section>
    <section class='meetup-login'>
        <%= link_to meetup_login_path do %>
            <%= image_tag  "meetup-logo.png" %>
                <%end%>
    </section>
    <section class='google-login'>
        <%= link_to google_login_path do %>
            <%= image_tag  "google-logo.png" %>
                <%end%>
    </section>
    <section class='twitter-login'>
        <%= link_to twitter_login_path do %>
            <%= image_tag  "twitter-logo.png" %>
                <%end%>
    </section>
    <section class='facebook-login'>
        <%= link_to facebook_login_path do %>
            <%= image_tag  "facebook-logo.png" %>
                <%end%>
    </section>
</div>

<a href=""></a>
