<section class='trail-show'>
  <header class="create-trail-message">
    <h3>Creating an Event for this trail:</h3>
  </header>
  <section class='trail-card'>
    <div class='trail-info'>
      <span>Name: <%= @event.trail.name%></span>
      <span>Description: <%= @event.trail.description%></span>
      <span>Location: <%= @event.trail.location%></span>
      <span>Distance: <%= @event.trail.distance%></span>
      <span>Difficulty: <%= @event.trail.difficulty%></span>
      <span>Rating: <%= @event.trail.rating%></span>
    </div>
</section>

<div class="form event-form">
<%= form_for @event do |f| %>
  <%= f.label :name, "Event Name" %>
  <%= f.text_field :name %>
  <%= f.label :description, "Event Description" %>
  <%= f.text_field :description %>
  <%= f.label :date, "Event Date" %>
  <%= f.datetime_select :date %>
  <%= hidden_field_tag(:trail_id, @event.trail.id) %>

  <%= f.submit "Publish Event", class: "publish-button" %>
<% end %>
</div>
