<section class='trail-show'>
  <header class="create-trail-message">
    <h3>Creating an Event for Trail:</h3>
  </header>
  <header class="create-trail-message">
    <h3><%= @event.trail.name%></h3>
  </header>

<div class="form event-form">
<%= form_for @event do |f| %>
  <%= f.label :name, "Event Name" %>
  <%= f.text_field :name %>
  <%= f.label :description, "Event Description" %>
  <%= f.text_field :description %>
  <%= f.label :date, "Event Date" %>
  <%= f.datetime_select :date %>
  <%= hidden_field_tag(:trail_id, @event.trail.id) %>

  <%= f.submit "Publish Event", class: "publish-button" %>
<% end %>
</div>
