<div hidden id='location'>{"lng":
    <%=@event.trail.longitude%>, "lat":
        <%=@event.trail.latitude%>}</div>
<div class='event-show' {>

    <div class='event-show-container'>

        <section class='event-show-info'>
            <h3>Event Details</h3>
            <h5>
                Hosted by:
            </h5>
            <p>

                <% @event.hosts.each do |host| %>
                    <%= host.username%>
                        <%end%>
                            <h5>Event Description:</h5>
                            <p>
                                <%= @event.description %>
                            </p>
                            <h5>Event Date:</h5>
                            <p>
                                <%= @event.format_date %>
                            </p>
        </section>
        <section class="trail-map-info">
            <h1>
                <%= @event.name %>
            </h1>
            <div class='event-map-container'>
                <div id="map" class='map'></div>
            </div>
        </section>
        <section class='trail-show-info'>
            <h3>Trail Details</h3>
            <h5>Trail Name:</h5>
            <p>
                <%= @event.trail.name %>
            </p>
            <h5>Trail Difficulty:</h5>
            <p>
                <%= @event.trail.difficulty.rating %>
            </p>
            <h5>Trail Location:</h5>
            <p>
                <%= @event.trail.location %>
            </p>
            <h5>Trail Distance:</h5>
            <p>
                <%= @event.trail.distance %>
            </p>
        </section>

    </div>
    <div class="social-share">
      <center>
        <div class="fb-share-button" data-href="https://trail-upv2.herokuapp.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftrail-upv2.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Come join me on a hiking adventure..." data-hashtags="trailup" data-lang="en" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </center>
    </div>
    <div class='event-buttons'>
        <%= render "events/buttons/#{@status}" %>
    </div>

</div>

<div class="fitbit-information">
    <%= render "events/fitbit/#{@fitbit.partial}" %>
</div>

<%= render partial: 'shared/googlemapcall', :locals => {googleMap: 'showTrailMap'} %>
    <%= javascript_include_tag "maps/show_trail.js" %>
