
<div class= 'trail-preview-box' id='trail-preview'>
</div>

<div class='form trail-form'>
  <%= form_for(@trail) do |f| %>
    <%=f.hidden_field :latitude %>
    <%=f.hidden_field :longitude %>
    <%=f.label :name %>
    <%=f.text_field :name %>
    <%=f.label :description %>
    <%=f.text_field :description %>
    <%=f.label :difficulty %>
    <%=f.collection_select(:difficulty_id, Difficulty.all, :id, :rating) %>
    <%=f.label :location %>
    <%=f.text_field :location %>
    <%=f.label :distance %>
    <%=f.number_field(:distance, step: 0.1) %>
    <%=render partial: 'pictures/form_for_many', :locals => { f: f, object: @trail } %>
    <%=f.submit id: 'submit'%>
  <%end%>
</div>