<section class='trails'>
    <% @page_results.each do |trail|%>
        <div class='trail'>
            <%= image_tag(trail.hp_image)%>
                <div class="trail-vital">
                    <h3>
                        <%=trail.name%>
                    </h3>
                    <h5>
                        Difficulty:
                        <%=trail.difficulty%>
                    </h5>
                    <h5>
                        Length:
                        <%=trail.length%>
                    </h5>
                    <h5>
                        Rating:
                        <%=trail.hp_rating%>
                    </h5>
                </div>
        </div>
        <%end%>
</section>
<%= will_paginate @page_results %>