<div class='trail-show'>
  <h3><%= @trail.name%></h3>
  Location: <%= @trail.location%>
  Distance: <%= @trail.distance%>
  Difficulty: <%= @trail.difficulty%>
  Length: <%= @trail.rating%>
  Rating: <%= @trail.rating%>
  Description: <%= @trail.description%>
  <% @trail.get_pictures.each do |picture| %>
    <%= image_tag("#{picture.image}") %>
  <% end %>
</div>