<div class='trail-show'>
    <h1>
        <%= @trail.name%>
    </h1>
    <h2>
        Location:
        <%= @trail.location%>
    </h2>
    <h3>
        Distance:
        <%= @trail.distance%>
    </h3>
    <h3>
        Difficulty:
        <%= @trail.difficulty%>
    </h3>
    <h3>
        Length:
        <%= @trail.rating%>
    </h3>
    <h3>
        Rating:
        <%= @trail.rating%>
    </h3>
    <p>
        Description:
        <%= @trail.description%>
    </p>
</div>