<div class='dashboard'>
    <h3>Welcome
        <%=current_user.username%>
            <%=link_to '(settings)', user_path(id: current_user.slug)%>

    </h3>
    <!-- <h5>
        <%= link_to "Settings", user_path(:id => current_user.slug)%>
                </h5> -->
    <div class='display'>

        <section class='events-container'>
            <div id='events'>
              <% @event_presenter.each do |event| %>
                <div class="event <%= event.get_identifiers %>"><%= link_to event.name, event_path(event.event_id) %>
                  <div class="date"><%= event.date.strftime("%a %d %b %Y") %></div>
                </div>
              <% end %>
            </div>
        </section>
        <aside class='event-filters'>
            <h4 id="upcoming">Upcoming</h4>
            <h4 id="attending">Attending</h4>
            <h4 id="hosting">Hosting</h4>
            <h4 id="past">Past</h4>
        </aside>
    </div>
</div>

<script scr="text/javascript">
  filter_events()
</script>
