<div class='dashboard'>
    <h3><%=current_user.username%>'s Events</h3>
    
    <div class='display'>

        <section class='events-container'>
            <div id='events'>
                <% @event_presenter.each do |event| %>
                    <div class="event <%= event.get_identifiers %>">
                        <%= link_to event.name, event_path(event.event_id) %>
                            <div class="date">
                                <%= event.date.strftime("%a %d %b %Y") %>
                            </div>
                    </div>
                    <% end %>
            </div>
        </section>
        <aside class='event-filters'>
            <h4 id="upcoming" class="selected">Upcoming</h4>
            <h4 id="past">Past</h4>
            <div class="filter-divider"></div>
            <h4 id="attending">Attending</h4>
            <h4 id="hosting">Hosting</h4>
        </aside>
    </div>
</div>

<%=javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"%>
<%= javascript_include_tag "dashboard/dashboard_filter" %>
