<div class='dashboard'>
    <h3>Welcome
        <%=current_user.username%>
            <%=link_to '(settings)', user_path(id: current_user.slug)%>

    </h3>
    <!-- <h5>
        <%= link_to "Settings", user_path(:id => current_user.slug)%>
                </h5> -->
    <div class='display'>

        <section class='events-container'>
            <div class='events'>
              <% @event_presenter.each do |event| %>
                <div class="<%= event.get_identifiers %>"><%= event.name %></div>
              <% end %>
            </div>
        </section>
        <aside class='event-filters'>
          <div id="upcoming">
            <h4 id = "selected">Upcoming</h4>
          </div>
          <div id="attending">
            <h4 id= "unselected">Attending</h4>
          </div>
          <div id="hosting">
            <h4 id='unselected'>Hosting</h4>
          </div>
        </aside>
    </div>
</div>
