<!DOCTYPE html>
<html>

<head>
    <title>TrailUp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
</head>

<body>
    <div class='page-wrap'>

        <%= render 'layouts/navbar' %>
            <div class='site-content'>
                <% flash.each do |key, value| %>
                  <% value.each do |message| %>
                    <%= message %>
                      <br>
                  <% end %>
                <% end  %>
                <%= yield %>
            </div>
            <%= render 'layouts/footer' %>
    </div>
</body>

</html>
